*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box   ;
    text-decoration: none;
    
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    background-color: black;
    color: white;
    animation-name: transition;
    animation-duration: 3s;
}

@keyframes transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
  
    }
}

