.hr {
    color: #b4cbf0;
}



.homepage {
    padding: 2rem 12rem;
}

.comments {
    height: auto;
    width: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5vh auto;
}


@media only screen and (max-width: 1035px) {
    .homepage {
        padding: 1rem 5rem;
    }
    .comments {
    height: auto;
    width: 70vh;
}

}

@media only screen and (max-width: 650px) {
    .homepage {
        padding: 1rem 2rem;
    }
}


@media only screen and (max-width: 470px) {
    .homepage {
        padding: 1rem 1rem;
    }
    .comments {
    height: auto;
    width: 40vh;
    margin-bottom: .3vh;
}

}