.projectPage {
    padding: 2rem 4rem;
    margin: .5rem 12rem;
    box-shadow: 2px .5px 5px gray;
    
    border-radius: 2%;
}

.projectTitle {

    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.yellowText {
    color: yellow;
    margin-right: 1rem;
}