@import url("https://fonts.googleapis.com/css?family=Roboto");




.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    width: 100vw;
    height: 60vh;
    height: calc(80vh - 2rem);
    max-width: 100%;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem auto;
    overflow: hidden;
    position: relative;
    animation-name: transition;
    animation-duration: 3s;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;

}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: black;
}

.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: white;
}

.carousel-img {
    width: 250px;
    padding: 0 20px 0 20px;
}

/* final stage */

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 3vw;
    padding: 1rem;

}

.button-arrow:hover {
  color: darkred;

}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators>button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: gray;
}

.indicator-symbol-active {
    color: darkred;
}