@import url("https://fonts.googleapis.com/css?family=Roboto");




.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    width: 100vw;
    height: 60vh;
    height: calc(100vh - 2rem);
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    animation-name: transition;
    animation-duration: 3s;
}



.tittleText {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.redText {
    color: yellow;
    margin-right: .5rem;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;

}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: row;
    height: 350px;
    margin-top: 3rem;
    padding: 1rem 12.5rem;
}

.carouselTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 18px;
    color: white;

}

.suppText {
    margin-left: 20px;  
    margin-bottom: 5rem;
    color: gray;
}

.hr {
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
}

.techText {
    padding: 0 20px 0 20px;
}

.techLogo {
    padding: 0 20px 0 20px;
}

.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: white;
}



.techLogo1 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-right: .5rem;
}



.carousel-img {
    width: 90vh;
    height: 45vh;

}

/* final stage */

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 3vw;
    padding: 1rem;

}

.button-arrow:hover {
    color: yellow;

}


.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators>button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: gray;
}

.indicator-symbol-active {
    color: yellow;
}