.home-intro {
    position: relative;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    height: auto;
  
}


.title {
    animation-name: moveRight;
    animation-duration: 3.5s;
    font-size: 40px;
    font-weight: 400;
    z-index: 5;
    animation: animateUser 4s linear infinite;
}

.titleTwo {
    animation-name: moveLeft;
    animation-duration: 4s;
    font-size: 70px;
    font-weight: 600;
    color: yellow;
    z-index: 5;
}



.titleThree {
    animation-name: moveRight;
    animation-duration: 4.5s;
    margin-bottom: 10px;
    font-size: 80px;
    z-index: 5;
}

.text {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    z-index: 5;
}

.button {

    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: white;
    color: black;
    padding: 10px 25px;
    position: relative;
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 4s;
    cursor: pointer;
    margin: 0 2rem;
    z-index: 5;
}

.button::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: yellow;
    transform: scaleX(0);
    transition: 300ms ease-out;

}

.button:hover {
    color: goldenrod;
}

.button:hover::before {
    transform: scaleX(1);

}



.mypic {
    position: absolute;
    right: 10em;
    z-index: 4;
    height: 30vw;
    width: 17vw;
    object-fit: cover;
    animation-duration: 3s;
    animation-name: moveUp;
   
    
}

.moving {
    animation: animateUser 4s linear infinite;
}


@media only screen and (max-width: 1280px) {



    
    .mypic {
        position: absolute;
        right: 0rem;
        z-index: 4;
        height: 35vw;
        width: 20vw;
        object-fit: cover;
        animation-duration: 3s;
        animation-name: moveUp;
       
        
    }
}


























@keyframes transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}



@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}




@keyframes animateUser {
    0% {
        top: 0px;
        bottom: 0px
    }

    25% {
        top: 5px;
        bottom: 0px
    }

    50% {
        top: 0px;
        bottom: 5px
    }

    75% {
        top: 5px;
        bottom: 0px
    }

    100% {
        top: 0px;
        bottom: 5px
    }

}