.navbar {
    height: 4rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 300;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px black;
    animation-name: transition;
    animation-duration: 5s;
}

@keyframes transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 5rem;
    cursor: pointer;


}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    position: relative;
    transform: translateZ(0);
    animation-duration: 1s;
    padding-bottom: .5rem;
}

.desktopMenuListItem:before {
    content: "";
    position: absolute;
    z-index: -1;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid darkred;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: 300ms ease-out;
}

.desktopMenuListItem:hover {
    color: darkred;
}

.desktopMenuListItem:hover::before {
    transform: scaleX(1);

}

.icons {
    font-size: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}

.icons:hover {
    color: darkred;
}


@media only screen and (max-width: 1020px) {
    .navbar {
        height: 4rem;
        width: 100vw;
        padding: 1rem 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 300;
        background-color: white;
        color: black;
        box-shadow: 2px 2px 2px black;
        animation-name: transition;
        animation-duration: 5s;
    }
}




@media only screen and (max-width: 650px) {
    .navbar {
        height: 4rem;
        width: 100vw;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 300;
        background-color: white;
        color: black;
        box-shadow: 2px 2px 2px black;

    }

    .logo {
        object-fit: cover;
        height: 2.5rem;
        width: 4.1rem;
        cursor: pointer;

    }

    .desktopMenuListItem {
        font-size: 15px;
        margin: 6px;
        cursor: pointer;
        position: relative;
        transform: translateZ(0);
        animation-duration: 1s;
        padding-bottom: .5rem;

        padding-right: 4px;
        font-weight: bold;
    }

    .icons {
        font-size: 1.5rem;
        margin: .3rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 441px) {
    .navbar {
        height: 4rem;
        width: 100vw;
        max-width: 30rem;
        margin: 0 auto;
        padding: .1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 300;
        box-shadow: 2px 2px 2px black;

    }

    .logo {
        object-fit: cover;
        height: 3rem;
        width: 5rem;
        cursor: pointer;

    }

    .desktopMenuListItem {
        font-size: 13px;
        margin: 3px;
        cursor: pointer;
        position: relative;
        transform: translateZ(0);
        animation-duration: 1s;
        padding-bottom: .5rem;
        border-right: 1px solid darkred;
        padding-right: 5px;
        font-weight: bolder;
    }

    .icons {
        font-size: 1.5rem;
        margin: .3rem;
        cursor: pointer;
    }
}


@media only screen and (max-width: 376px) {
    .navbar {
        height: 4rem;
        width: 100vw;
        max-width: 30rem;
        margin: 0 auto;
        padding: .1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 300;
        box-shadow: 2px 2px 2px black;

    }

    .logo {
        object-fit: cover;
        height: 2.5rem;
        width: 4.1rem;
        cursor: pointer;

    }

    .desktopMenuListItem {
        font-size: 13px;
        margin: 2px;
        cursor: pointer;
        position: relative;
        transform: translateZ(0);
        animation-duration: 1s;
        padding-bottom: .5rem;
        border-right: 1px solid darkred;
        padding-right: 4px;
        font-weight: bolder;
    }

    .icons {
        font-size: 1.5rem;
        margin: .3rem;
        cursor: pointer;
    }
}