.skills {
    position: relative;
    overflow: hidden;
    height: calc(85vh - -3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 12rem;

}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}

.skillDesc {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 3em;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5rem;
    padding: auto auto;

}

.skillBar {

    margin: 1.5rem;
    padding: 1rem 12rem;
    max-width: 100%;
    text-align: left;
}

.skillBar {

    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    transition: 3s;
}

.skillBarText>p {
    font-size: 1rem;
    font-weight: 200;
}

@media only screen and (max-width: 1281px) {
    .skills {
        position: relative;
        overflow: hidden;
        height: calc(80vh - 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;


    }

}